<div class="library2">
    <span class="text-muted float-right">Component2</span>
    @if (Product != null)
    {
        <text>
            <img src="@Product.Image" class="rounded float-left mr-2" alt="@Product.Name">
            <h5>@Product.Name</h5>
            <p>Price: <b>$@Product.Price.ToString("#,##0.00")</b></p>
            <p>This product has @Product.Grommets grommets</p>
        </text>
    }
    else
    {
        <p class="text-muted">
            No product2 selected
        </p>
    }
</div>
@functions {

    [Parameter]
    private Product2 Product { get; set; }

}