<div class="library2">
    <div>
        @if (Product != null)
        {
            <text>
                <img src="@Product.Image" class="rounded float-left mr-2" alt="@Product.Name">
                <h5>@Product.Name</h5>
                <p>Price: <b>$@Product.Price.ToString("#,##0.00")</b></p>
                <p>This product has @Product.Grommets grommets</p>
            </text>
        }
        else
        {
            <p class="text-muted">
                No product2 selected
            </p>
        }
    </div>

    This Blazor component is defined in the <strong>Library2</strong> package.
</div>
@functions {

    [Parameter]
    private Product2 Product { get; set; }

}