/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.library2 {
    border: 2px dashed blue;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
